.config/spotify-tui/client.yml filter=git-crypt diff=git-crypt
.config/spotify-tui/.spotify_token_cache.json filter=git-crypt diff=git-crypt
.config/NixSystem/spotifyd.pass filter=git-crypt diff=git-crypt
