.cache/
.org-id-locations
auto-save-list/

bookmarks

config.el

elfeed.stats

eln-cache/
elpa/

eshell/alias
eshell/history
eshell/lastdir

history

recentf
init.el

.lsp*
ltximg/

network-security.data

org-caldav*
org-roam.db
projectile-bookmarks.eld

prescient-data

spell-fu*

straight/build/
straight/modified/
straight/repos/
straight/build-cache.el


tmp
tramp
transient/
.tutor/

url/

places

workspace/