.cache/
.org-id-locations
auto-save-list/

eln-cache/
elpa/

eshell/history
eshell/lastdir

recentf
init.el

.lsp*
ltximg/

network-security.data

org-roam.db
projectile-bookmarks.eld

straight/build/
straight/modified/
straight/repos/
straight/build-cache.el

prescient-data

tmp
tramp
transient/
url/


places

#ReadMe.org#